<nav class="navbar navbar-inverse navbar-toggleable-md bg-faded bg-inverse">
  <h1 class="navbar-brand mb-0">Demo</h1>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/" class="btn btn-outline-success nav-link">Home</a>
      </li>
    </ul>
  </div>
</nav>